### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].nunique()
pd.DataFrame([{"Total Players": total_players}])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
total_unique_items = purchase_data["Item ID"].nunique()
average_price = '${:,.2f}'.format(purchase_data["Price"].astype("float").mean())
num_purchases = purchase_data["Purchase ID"].count()
total_sales = '${:,.2f}'.format(purchase_data["Price"].sum())
#print(total_unique_items)
#print(average_price)
#print(num_purchases)
#print(total_sales)
pd.DataFrame([{"Number of Unique Items": total_unique_items, "Average Price":average_price, "Number of Purchases":num_purchases, "Total Revenue":total_sales}])

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     183     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [94]:
pd.options.display.float_format = '{:,.2f} %'.format
unique_players_df = purchase_data.groupby(["SN", "Gender"]).size().reset_index()
unique_players_df = unique_players_df["Gender"].value_counts().to_frame().rename(columns={"Gender": "Total Count"})
unique_players_df["Percentage of Players"] = unique_players_df["Total Count"]*100/total_players
unique_players_df.columns

Index(['Total Count', 'Percentage of Players'], dtype='object')


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [95]:
purchase_data.groupby(["Gender", "SN"]).size()

Gender                 SN
Female                 Adastirin33       1
                       Aerithllora36     2
                       Aethedru70        1
                       Aidain51          1
                       Aiduesu86         1
                       Aillyrin83        1
                       Aisurdru79        2
                       Assilsan72        1
                       Assosia88         1
                       Baelollodeu94     2
                       Chadistaya75      1
                       Chamast86         1
                       Chamilsala65      2
                       Chamirrasya33     2
                       Chamjask73        3
                       Chanastsda67      1
                       Chanirra79        1
                       Chanjask65        1
                       Chanossast57      1
                       Errian63          1
                       Eudanu32          1
                       Eudanu84          1
                       Eusri70           2
                       Frichaststa61     1
                       Frichosia58       1
                       Frichosiala98     1
                       Haisurra41        1
                       Hari50            2
                       Heosurnuru52      2
                       Heudai45          1
                                        ..
Male                   Yadanu52          1
                       Yadaphos40        2
                       Yalae81           2
                       Yalaeria91        1
                       Yaliru88          1
                       Yalo85            1
                       Yalostiphos68     1
                       Yarithllodeu72    1
                       Yarithrgue83      1
                       Yarithsurgue62    1
                       Yarolwen77        1
                       Yasrisu92         1
                       Yastyriaphos75    1
                       Yasur35           1
                       Yasur85           1
                       Yathecal72        1
                       Yathedeu43        2
                       Zhisrisu83        2
                       Zontibe81         3
Other / Non-Disclosed  Airi27            1
                       Chanosian48       2
                       Eodaisu60         1
                       Haerithp41        1
                       Idairin51         2
                       Jiskirran77       1
                       Lirtim36          1
                       Maluncil97        2
                       Rairith81         1
                       Siarithria38      2
                       Sundim98          1
Length: 576, dtype: int64

In [50]:
pd.options.display.float_format = '${:,.2f}'.format
purchase_count = purchase_data.groupby(["Gender"]).count()["Purchase ID"].to_frame().rename(columns={"Purchase ID":"Purchase Count"})
purchase_count["Total Purchase Value"] = purchase_data.groupby(["Gender"]).sum()["Price"]
purchase_count["Averag Purchase Value"] = purchase_count["Total Purchase Value"] / purchase_count["Purchase Count"]
purchase_count[""]

,Purchase Count,Total Purchase Value,Averag Purchase Value
Gender,,,
Female,113,$361.94,$3.20
Male,652,"$1,967.64",$3.02
Other / Non-Disclosed,15,$50.19,$3.35

unique_players_df

In [88]:
unique_players_df

                       Total Count  Percentage of Players
Male                           484                 $84.03
Female                          81                 $14.06
Other / Non-Disclosed           11                  $1.91

In [89]:
purchase_count

,Purchase Count,Total Purchase Value,Averag Purchase Value
Gender,,,
Female,113,$361.94,$3.20
Male,652,"$1,967.64",$3.02
Other / Non-Disclosed,15,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame